@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  --primaryColor: #011627;
  --secondaryColor: #0a1f30;
  --thirdColor: #011e36;
  --fourthColor: #0e548d;

  --fontPrimary: #e0e8f0;
  --fontSecondary: #a1afbd;
  --fontThird: #9c91ff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--fontPrimary);

  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  /* border: 1px white solid; */

  font-family: 'Poppins', sans-serif;
}

html {
  height: 100%;
}

svg {
  fill: var(--fontPrimary);
}

button {
  background-color: var(--thirdColor);
}

body {
  /* max-width: 1100px; */
  min-height: 100%;
  margin: auto;
  background-color: var(--primaryColor);
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: column;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1100px;
  width: 100%;
  margin-top: 100px;
  flex-grow: 1;
  padding: 0 15px;
}

.container-column {
  display: flex;
  flex-flow: column;
  gap: 20px;
  z-index: 1;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*=============================================
=            scrollbar styling           =
=============================================*/
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--fontSecondary);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0e548d;
}
/*=====  End of scrollbar styling ======*/

/*=============================================
=                    button sytle            =
=============================================*/

.btn-primary {
  margin-top: 20px;
  border: 2px #e0e8f0 solid;
  border-radius: 6px;
  color: var(--fontPrimary);
  padding: 10px 30px;
  cursor: pointer;
  width: fit-content;
}

.btn-primary:hover {
  background-color: #e0e8f0;
  color: var(--primaryColor);
  border: 2px solid;
}

.btn-primary:active {
  background-color: #e0e8f0a8;
  border: 2px solid;
}

.btn-secondary {
  margin-top: 20px;
  border: 2px var(--primaryColor) solid;
  border-radius: 6px;
  color: var(--primaryColor);
  padding: 10px 30px;
  cursor: pointer;
  width: fit-content;
  background-color: none;
}

.btn-secondary:hover {
  color: var(--primaryColor);
  background-color: #e0e8f05b;
  border: 2px solid #e0e8f05b;
}

.btn-secondary:active {
  border: 2px solid;
}

/*=====  End of button sytle  ======*/

/*=============================================
=            Nav Header                   =
=============================================*/
nav,
ol {
  display: flex;
  gap: 40px;
}

a {
  text-decoration: none;
}

nav a {
  text-decoration: none;
  color: #4a7ea5;
  transition: ease-in-out all 0.5s;
}

nav a:hover {
  color: var(--fontPrimary);
}

li:first-child {
  list-style: none;
}

li {
  list-style-type: decimal-leading-zero;
  list-style-position: inside;
  font-size: smaller;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 2;
}

.navbar a.active,
.sidebar a.active {
  color: var(--fontPrimary);
}

.navbar {
  position: fixed;
  top: 0;
  height: 100px;
  transition: all 0.5s;
  width: 100%;
  padding: 0 50px;
}

.navbar.show {
  top: 0;
  height: 80px;
  background-color: rgba(1, 22, 39, 0.5);
  backdrop-filter: blur(20px);
  box-shadow: 2px 10px 30px -12px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 2px 10px 30px -12px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 2px 10px 30px -12px rgba(0, 0, 0, 0.46);
}

.navbar.hide {
  top: -100px;
  background-color: rgba(1, 22, 39, 0.5);
  backdrop-filter: blur(20px);
  box-shadow: 2px 10px 30px -12px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 2px 10px 30px -12px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 2px 10px 30px -12px rgba(0, 0, 0, 0.46);
}

.logo {
  font-family: var(--fontLogo);
  color: var(--primaryColor);
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.dropdown-button {
  display: none;
}

.dropdown-button.exit {
  display: none;
}

.sidebar {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: -80%;
  width: 80%;
  height: 100%;
  background-color: var(--thirdColor);
  z-index: 3;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: larger;
}

.sidebar-links ol {
  list-style: none;
  flex-direction: column;
  align-items: flex-start;
  width: 100px;
  gap: 20px;
}

.sidebar-links li {
  list-style: none;
}

.sidebar-links a {
  color: var(--fontSecondary);
  transition: ease 0.3s;
}

.sidebar-links a:hover {
  color: var(--fontPrimary);
}

.aside a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 1px solid #2d3e4d;
  border-radius: 100%;
  background-color: var(--primaryColor);
  transition: ease 1s;
}

.aside a:hover {
  transform: rotate(360deg);
}

.sidebar .author {
  height: 100%;
  justify-content: flex-end;
}

.overlay {
  display: none;
}

@media screen and (max-width: 1200px) {
  .navbar {
    padding: 0 15px;
  }
}

@media screen and (max-width: 900px) {
  .navbar li {
    display: none;
  }

  .dropdown-button svg {
    width: 2rem;
    height: 100%;
  }

  .dropdown-button {
    display: flex;
    cursor: pointer;
    z-index: 100;
  }

  .dropdown-button.hide {
    display: none;
  }

  .dropdown-button.exit {
    display: flex;
    margin-left: auto;
    padding: 30px 15px;
  }

  .dropdown-button.exit svg {
    width: 1.5rem;
  }

  .overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #011627d5;
    position: absolute;
    z-index: 2;
    cursor: pointer;
  }
  .overlay.active {
    display: block;
  }

  .sidebar {
    display: flex;
  }

  .sidebar.active {
    right: 0;
  }
}

/*=====  End of Nav Header   ======*/

header,
footer {
  flex-grow: 0;
  flex-shrink: 0;
}

/*=============================================
=            Landing Page                    =
=============================================*/

.vertical-line {
  bottom: 160px;
  right: -120px;
  position: fixed;
  gap: 20px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  rotate: -90deg;
}

.line {
  width: 100px;
  height: 1px;
  background-color: var(--fontPrimary);
}

.vertical-line-2 {
  bottom: 120px;
  left: -90px;
  position: fixed;
  gap: 20px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  rotate: -90deg;
}

.vertical-line-2 .vertical-link svg {
  rotate: 90deg;
  height: 1.5em;
  display: flex;
  justify-content: center;
}
.vertical-line-2 .vertical-link:hover {
  transform: translateX(30%);
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 700px;
  height: 400px;
}

.text {
  display: flex;
  flex-flow: column wrap;
  gap: 5px;
  width: 100%;
  z-index: 1;
}

.text h1 {
  font-size: xx-large;
}

.image-profile {
  width: auto;
  display: flex;
  justify-content: center;
}

.image-profile img {
  transform: scaleX(-1);
  background: 0;
}
.image-profile svg {
  position: absolute;
  top: -60px;
  background: 0;
  filter: blur(100%);
  width: 80%;
}

@media screen and (max-width: 1200px) {
  .vertical-line,
  .vertical-line-2 {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .btn-primary {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

/*=====  End of Landing Page           ======*/

/*=============================================
=            typing animation            =
=============================================*/

h2 span {
  color: var(--fontPrimary);
}

h2 span:last-child {
  height: 30px;
  width: 2px;
  transform: translateY(-45%);
  animation: blink 0.7s infinite;
}

h2 span.stop-blinking::before {
  animation: none;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}

/*=====  End of typing animation  ======*/

/*=============================================
=            Project Section                      =
=============================================*/

.headline {
  display: flex;
  width: 100%;
  height: fit-content;
  gap: 20px;
  align-items: center;
}

.headline .text-line {
  width: 30%;
  height: 1px;
  background-color: var(--fontPrimary);
}

.project-section a {
  margin: auto;
  z-index: 1;
}

.project {
  display: flex;
  flex-flow: row nowrap;
  margin: 40px 0;
  z-index: 1;
}

.project img {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.image-project {
  position: relative;
}

.image-project .overlay-project {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
  border-radius: 12px;
  opacity: 0;
}

.image-project .overlay-project:hover {
  background-color: rgba(0, 0, 0, 0.11);
  z-index: 1;
  opacity: 1;
}

.project-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  text-align: right;
}
.project-box {
  background-color: var(--thirdColor);
  box-shadow: #011627;
  box-shadow: 0px 0px 27px -7px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 2px 2px 27px -7px rgba(0, 0, 0, 1);
  -moz-box-shadow: 2px 2px 27px -7px rgba(0, 0, 0, 1);
  border-radius: 12px;
  padding: 20px;
  margin-left: -40px;
  z-index: 10;
}

.list ul {
  display: flex;
  justify-content: flex-end;
  flex-flow: row;
  gap: 5px;
}

.list li {
  list-style: none !important;
  text-decoration: none !important;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: default;
}

.project-tech li:hover {
  background-color: #030c13;
}

.project:nth-child(2n + 1) {
  flex-direction: row-reverse;
  gap: 20px;
}

.project:nth-child(2n + 1) .project-box {
  margin-right: -50px;
  margin-left: 0;
}

@media screen and (max-width: 1200px) {
  .project {
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
  }

  .project img {
    width: 100%;
    border-radius: 12px;
  }

  .project-box {
    margin: 0;
  }

  .project:nth-child(2n + 1) {
    flex-direction: column;
  }

  .project:nth-child(2n + 1) .project-box {
    margin: 0;
  }
}

/*=====  End of Project section  ======*/

/*=============================================
=            about me section            =
=============================================*/

.about-me {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

.about-me .introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  flex-flow: row nowrap;
}

.introduction p {
  width: 240%;
  font-size: 1rem;
  background-color: var(--thirdColor);
  padding: 20px;
  border-radius: 12px;
}

.introduction p span {
  color: var(--fontThird);
}

.about-me .headline {
  flex-grow: 0;
  flex-shrink: 0;
}

.about-me .icons {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 97%;
  rotate: 49.5deg;
}

.about-me .icons img {
  width: 40px;
  rotate: 309deg;
  margin: 5px;
  transition: ease 0.5s;
}

.about-me .icons img:hover {
  transform: scale(150%);
}

@media screen and (max-width: 1200px) {
  .introduction p {
    width: auto;
  }
  .about-me {
    gap: 100px;
  }
  .about-me .icons {
    width: 200px;
    flex-basis: 10%;
  }
  .about-me .icons img:nth-child(3n + 1) {
    display: none;
  }
  .about-me .introduction {
    flex-flow: column-reverse nowrap;
  }
}

/*=====  End of about section  ======*/

/*=============================================
=            experience section            =
=============================================*/
article {
  z-index: 1;
}

.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 100px auto;
  gap: 20px;
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 50px;
}
.detail ul li a {
  color: var(--fontSecondary);
  transition: ease 0.3s;
}

.detail ul li a:hover {
  color: var(--fontPrimary);
}

.title h1 {
  font-size: large;
}

.place {
  width: fit-content;
  position: relative;
  color: var(--fontThird);
  font-weight: 500;
}

.place:hover {
  color: var(--fontSecondary);
}

.place::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--fontPrimary);
  bottom: 0;
  left: 0;
  transition: width 0.3s ease;
}

.place:hover::before {
  width: 100%;
}

.selection {
  display: flex;
  gap: 20px;
  flex-flow: row wrap;
  width: 100%;
  height: 400px;
  padding: 20px;
  border-radius: 12px;
  background-color: var(--thirdColor);
}

.select {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  height: fit-content;
  flex: 0 1 30%;
  border-left: #0a2c47 solid 1px;
}

.select div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  white-space: nowrap;
}

.select div:hover {
  background-color: #2d3e4d;
}

.select .active {
  border-left: #3878ac solid 1px;
  background-color: #0e548d6c;
}

.select-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  overflow-y: scroll;
  width: 100%;
  flex: 1;
  padding-right: 20px;
}

.select-detail li {
  list-style-type: disc;
  list-style-position: inside;
  font-size: 1rem;
  padding-bottom: 8px;
}

.select-detail h4 {
  color: var(--fontSecondary);
  font-weight: 400;
}

.tech-learnt ul {
  gap: 10px;
  justify-content: flex-start;
}

.tech-learnt li {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: var(--primaryColor);
}

@media screen and (max-width: 900px) {
  .experience {
    margin: 20px auto;
  }

  .selection {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  .select {
    display: flex;
    width: 90vw;
    flex-flow: row nowrap;
    overflow: auto;
    border: none;
  }

  .select .active {
    border-left: none;
    border-bottom: #3878ac solid 1px;
  }
}

@media screen and (max-width: 600px) {
  .select {
    width: 80vw;
  }
  .detail {
    width: 270px;
  }
}
@media screen and (max-width: 360px) {
  .select {
    width: 80vw;
  }
  .detail {
    width: 200px;
  }
}

/*=====  End of experience section  ======*/

/*=============================================
=            Tech Stack Section            =
=============================================*/

.card {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  border-radius: 12px;
  border: 1px solid var(--fontPrimary);
  width: calc(25% - 30px);
  margin-bottom: 20px;
  cursor: default;
  position: relative;
  transition: ease 0.1s;
}

.card .language {
  transform: translateY(10px);
}

.card:hover .language {
  transform: translateY(-1px);
}

.card .level {
  opacity: 0;
  transform: translateX(20px);
  color: var(--fontThird);
}
.card:hover .level {
  opacity: 1;
  transform: translateX(0px);
}

.card:hover {
  background-color: var(--thirdColor);
}

@media screen and (max-width: 1200px) {
  .card {
    width: calc(40% - 80px);
  }
}

@media screen and (max-width: 900px) {
  .card {
    width: calc(50% - 10px);
    font-size: 0.7rem;
    padding: 10px;
  }
}

@media screen and (max-width: 400px) {
  .card {
    width: calc(100%);
  }
}

/*=====  End of Tech Stack Section  ======*/

/*=============================================
=            projects page            =
=============================================*/

.filter-button {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}

.filter-button > button {
  margin: 0;
}

.card-project {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--thirdColor);
  width: calc(31.5%);
  height: 450px;
  padding-bottom: 20px;
  border-radius: 12px;
  margin-bottom: 30px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0 20px;
  font-size: small;
}

.card-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.card-detail .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.card-detail .title h3 {
  flex-grow: 1;
}

.card-detail .title a {
  display: flex;
  align-items: center;
}

.card-detail .title a svg {
  fill: var(--fontSecondary);
}

.card-detail .title a svg:hover {
  fill: var(--fontPrimary);
}

.card-detail .title img {
  width: 20px;
}

.card-project > img {
  border-radius: 12px 12px 0 0;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-footer {
  display: flex;
  gap: 10px;
}

.card-footer img {
  width: 30px;
  padding: 4px;
  background-color: var(--primaryColor);
}

@media screen and (max-width: 1200px) {
  .card-project {
    width: calc(50% - 10px);
  }
}
@media screen and (max-width: 600px) {
  .card-project {
    width: calc(100%);
  }
}

/*=====  End of projects page  ======*/

/*=============================================
=            particle js library            =
=============================================*/
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
/*=====  End of particle js library  ======*/

/*=============================================
=            Footer section            =
=============================================*/
.author {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.footer-link {
  display: none;
}

footer {
  margin-top: auto;
}

@media screen and (max-width: 1200px) {
  .footer-link {
    display: flex;
    border-top: 1px solid var(--fontPrimary);
    margin-top: 20px;
    padding: 20px 10%;
    gap: 20px;
    width: 100%;
    z-index: 1;
  }
}

/*=====  End of Footer section  ======*/
